<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- NOW IT WILL CREATE THE TWO OBJECT -->

<!--    <bean id="alien1" class="org.example.Alien">-->
<!--    </bean>-->

<!--    <bean id="alien2" class="org.example.Alien">-->
<!--    </bean>-->

    <!-- ID IS OPTIONAL  AND prototype means when we write in app.java
    get.Bean() everytime it will create a new object -->

<!--    <bean id="alien" class="org.example.Alien" scope="prototype">-->
<!--    </bean>-->

    <!--        AUTOWIRE BY TWO TYPES BYNAME OR BYTYPE -->
    <bean id="alien" class="org.example.Alien" autowire="byType">

<!--    ref="com" will search the object name com and if
it will match it will call the setter and getter of that class
-->
<!--        FOR LAPTOP OBJECT-->
        <property name="age" value="21"/>
<!--        <property name="com" ref="com"/>-->

<!--        FOR DESKTOP OBJECT    -->
<!--        <property name="age" value="21"/>-->
<!--        <property name="com" ref="com1"/>-->


<!--        setter injection for set the value of the variable -->
<!--        <property name="age" value="21"></property>-->

<!--     SO NOW WE HAVE OBJECT lap1 SO WE NEED TO INJECT OR CONNECT TO
         lap VARIABLE WITH THE OBJECT    -->
<!--        <property name="lap" ref="lap1" ></property>-->

<!--        Constructor Injection-->
<!--        <constructor-arg index="0" value="21"/>-->
<!--        <constructor-arg index="1" ref="lap1"/>-->

<!--        <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="lap" ref="lap1"/>-->

    </bean>

    <bean id="com" class="org.example.Laptop" primary="true">
    </bean>

    <bean id="com1" class="org.example.Desktop">
    </bean>

</beans>