<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- NOW IT WILL CREATE THE TWO OBJECT -->

<!--    <bean id="alien1" class="org.example.Alien">-->
<!--    </bean>-->

<!--    <bean id="alien2" class="org.example.Alien">-->
<!--    </bean>-->

    <!-- ID IS OPTIONAL  AND prototype means when we write in app.java
    get.Bean() everytime it will create a new object -->

<!--    <bean id="alien" class="org.example.Alien" scope="prototype">-->
<!--    </bean>-->

    <bean id="alien" class="org.example.Alien">
<!--        setter injection for set the value of the variable -->
        <property name="age" value="21"></property>
    </bean>

    <bean id="lap" class="org.example.Laptop">
    </bean>

</beans>